<!DOCTYPE html>
<html>
<head>
	<title>FlashBook</title>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/images/logo.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/scripts.js"></script>
</head>
<body>
	{{> cart }}
	{{> reservation }}
    {{> header }}
    {{> navbar }}
    {{{ body }}}
</body>
	<script>
		/*
		function w3_open() {
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("mySidebar2").style.display = "none";
		}

		function w3_close() {
			document.getElementById("mySidebar").style.display = "none";
		}

		function w3_open2() {
			document.getElementById("mySidebar2").style.display = "block";
			document.getElementById("mySidebar").style.display = "none";
		}

		function w3_close2() {
			document.getElementById("mySidebar2").style.display = "none";
		}
		*/
	</script>
</html>